img {
  height: 250px;
  width: 250px;
  /*margin: 0 auto;*/
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  margin-top: 50px;
  margin-left: 300px;
  /*margin-right: 50px;*/


}
body {
  margin:0;
  font-family: 'Raleway', sans-serif;
  color: #1f2020;
}

.photo {
  background-color: #583f4b;

}

.contact {
  color: #d5d2c2;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 10px;
  width: 20em;
  margin-left: 50px;

}

.tagline {
  color: #89B3A1;
  display: inline-block;

}

.summary {
  background-color: #d5d2c2;
  margin-top: 0;
  padding: 50px 50px;
  border-top: 10px solid #6F614E;
  color: #1f2020;
}

/*.fab {
  font-size: 4em;
  margin: 5px;
  color: blue;
}

#ruby {
  height: 50px;
  width: 50px;
}*/

.lists {
  display: inline-block;
  color: #1f2020;

  float: left;
  padding-right: 25px;
}

.skills {
  padding: 50px;
}

#skills-header {
text-align: center;
/*background-color: #D5D2C2;*/
}