body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: #d5d2c2;
  background-color: #F9F7F7;
  background-color: #ebe8eb;
  color: #1B2228;
  color: #332c32;
  padding: 1em;

  display: flex;
}

h2 {
  color: #034f53;
  margin-top: 0;
}

.summary h3 {
  color: rgb(33, 136, 141);
  font-size: 1.3em;
}

a {
  color: #332c32;
  font-weight: bold;
}

p {
  margin-top: 0;
  font-size: 1.5vw;
}

.education h3 {
  color: #332c32;
}

.container {
  flex: 1;
  display: flex;
  height: 100%;
}
.sidebar{
  flex: 0.4;
  background-color: #beb3bc;

  padding: 3em;
  margin-right: 2em;
  /*box-shadow: 4px 4px 2px 4px rgba(0, 0, 255, .2);*/
}

.self {
  height: 12em;
  width: 12em;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.img {
  margin: 0 auto;
  display: block;
}

.main-content {
  flex: 1;
  padding: 2em;
  padding-top: 0;

}

.skills-header {
  display: flex;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  margin-top: 0;
}



#skills-header {
  flex: 1;
  order:1;
  width: 10%;
  margin-bottom: 1em;
  margin-top: 2em;
}

.skills {
  flex: 1;
}



li {
  font-size: 1.3em;
}

.projects {
  margin-top: 3em;
}

.fas {
  flex: 1;
  font-size: 1.5em;
  margin-right: 1em;

}

.fa-phone {
  font-size: 2em;
  margin-right: 0.6em;
}
.fa-at {
  font-size: 2em;
  margin-right: .6em;
  color: #332c32;
}

.fab {
  font-size: 2em;
  margin-right: 0.75em;
  margin-bottom: .75em;
  color: #332c32;

}

.links {
  flex: 1;
  color: #2CA4AA;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1em;
}

.links-contact {
  color: #332c32;
}

#work {
  display: flex;
  margin-top: 1em;
}

.title-date {
  flex: 1;
  color: #2CA4AA;
  min-width: 25%
  margin-right: 3em;


}

.work-description {
  flex: 3;
  margin: 3em;
  margin-top: 0;
  max-width: 50%
}

.skills .work-description {
  margin-top: 1.3em;
}

.project {

  margin-top: 0;
}





@media screen and (max-width: 48rem) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
  }
  p{
    font-size: 100%;
  }
}


@media (min-width: 900px) {
  main {
    display: flex;
    justify-content: space-between;
    }
}